/*Base Styles*/
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.donate-btn {
    border: solid #AF261A 3px;
    border-radius: 10px;
    color: white;
    background-color: #AF261A;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 200px;
    height: 60px;
    padding-top: 15px;
}

h1 {
    font-size: 3rem;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

.header-hero {
    background-image: url('./images/stacy-telescope.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 40%;
}

.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: rgba(255, 255, 255, .9);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*BANNER*/
.banner-img {
    background-image: url('./images/stacy-PierPlaza.jpeg');
    height: 500px;
    background-position-y: -500px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
}

/*HEADER*/

.nav-btns {
    padding: 5px;
    width: 90%;
}


.nav-btns li:hover {
    border-bottom: #AF261A 2px solid;
}

.stacyS-logo {
    height: 85px;
    width: 85px;
}

/*HERO*/



/*POSITIONS

.positions-main {
    padding: 100px 0;
    height: 1200px;
}

}
.positions-main {
    padding: 100px 0;
    height: 1200px;
}

.positions-header h3 {
    font-style: italic;
}

.positions-container {
    width: 50%;
    padding: 0 100px 0 0;
    text-align: left;
}

.positions-pic {
    height: 500px;
    border-radius: 5%;
}

.positions-btn {
    margin-top: 50px;
}

.positions-text {
    font-size: 1.5rem;
}

/*CV

.cv-main {
    width: 100%;
    font-size: .75rem;
}

.cv-main ul {
    list-style-type: none;
    padding: 0;
}

.back-btn {
    margin-top: 50px;
}

/*ABOUT

.about-paragraph {
    width: 100%;
    font-size: 1.25rem;
}


.about-img {
    height: 100%;
}
*/
.about-main {
    background-color: #143d78;
    color: white;
}

/*ENDORSEMENTS*/
.endorsements-main {}

.endorsements-main h2 {
    text-align: center;
}

/*.endorsements-grid {
    display: flex;
    flex-wrap: wrap;
} 

.endorsements-item {
    width: 45%;
    margin: 20px;
    padding: 20px;
}

*/
.endorsements-item:nth-child(-n + 2) {
    border-bottom: 4px solid #AF261A;
    margin-bottom: 1px;
}

.endorsements-item h4 {
    font-size: 2rem;
}

.endorsements-item h5 {
    font-size: 1.5rem;
}

.endorse-btn {
    text-align: center;
    display: block;
    width: 200px;
    margin: 40px auto;
}

.endorser-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
}

.endorser-list h4 {
    font-size: 1.25rem;
}